.jumbotron{
    background-color: lightblue;
    color: grey;
}

.card{
    padding: 0;
    margin: 0;
}

.img-fluid{
    width: 1070px;
    height: 360px;
}

footer{
    background-color: lightgrey;
    color: black;
}