@yellow: #fff821;
@red: #ff3721;
@green: #08cc2c;


.atributos(@width, @height, @padding, @margin, @color) {
    width: @width;
    height: @height;
    padding: @padding;
    margin: @margin;
    color: @color;
}

.jumbotron{
    background-color: @yellow;
    color: @green;
}


.img-fluid{
    .atributos(1070px, 360px, 0, 0, white);
}

footer{
    background-color: @green;
    .atributos(100%, 100%, 0, 0, black );
} 