$yellow: #fff821;
$red: #ff3721;
$green: #08cc2c;

@mixin atributos($width, $height, $padding, $margin, $color) {
    width: $width;
    height: $height;
    padding: $padding;
    margin: $margin;
    color: $color;
}

.jumbotron{
    background-color: $yellow;
    color: $green;
}

.img-fluid{
    @include atributos(1070px, 360px, 0, 0, white);
}

footer{
    background-color: $green;
    @include atributos(100%, 100%, 0, 0, black );
}