.jumbotron {
  background-color: #fff821;
  color: #08cc2c; }

.img-fluid {
  width: 1070px;
  height: 360px;
  padding: 0;
  margin: 0;
  color: white; }

footer {
  background-color: #08cc2c;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: black; }
